#education-history {
  display: flex;
  flex-direction: column;
}

.education-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 4fr;
  height: 20vh;
  row-gap: 10px;
}

.education-item > h4 {
  font-size: max(1vw, 0.8rem);
}

.education-item > h4:nth-child(2) {
  text-align: right;
}

.education-item > p {
  grid-column: 1 / 3;
  font-size: min(3vw, 1rem);
}

.education-item > * {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
