#footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  position: absolute;
  bottom: 0%;
}

#footer > p {
  background-color: transparent;
  color: #eeeeee;
  font-weight: 700;
}
