#CVForm {
  box-sizing: border-box;
  background-color: #eeeeee;
  padding: 5% 2.5%;
}

.CV {
  width: max(60vw, 350px);
  min-height: 100vh;
  box-shadow: 0px 0px 15px gray;
  border-radius: 5px;
  margin-bottom: 10%;
}

@media all and (max-width: 300px) {
  .CV {
    width: 250px;
  }
}
